In [1]:
import pandas as pd
import numpy as np

In [2]:
qb_df = pd.read_excel('qb_ratings.xlsx')
rb_df = pd.read_excel('rb_ratings.xlsx')
wr_df = pd.read_excel('wr_ratings.xlsx')
te_df = pd.read_excel('te_ratings.xlsx')

qb_df['Position'] = 'QB'
rb_df['Position'] = 'RB'
wr_df['Position'] = 'WR'
te_df['Position'] = 'TE'

In [3]:
qb_df = qb_df[['Player', 'Position', 'Rating']].copy()

qb_df.sort_values(by = 'Rating', inplace = True, ascending = False)
qb_df.reset_index(inplace=True)
qb_df.rename(columns = {'index': 'PosRank'}, inplace=True)
qb_df.PosRank = qb_df.PosRank + 1

# push qb rating down
qb_df.Rating = qb_df.Rating - 200
qb_df.head()

   PosRank              Player Position  Rating
0        1          Josh Allen       QB     730
1        2  Patrick Mahomes II       QB     680
2        3         Jalen Hurts       QB     680
3        4       Justin Fields       QB     510
4        5          Joe Burrow       QB     505

In [4]:
rb_df = rb_df[['Player', 'Position', 'Rating']].copy()

rb_df.sort_values(by = 'Rating', inplace = True, ascending = False)
rb_df.reset_index(inplace=True)
rb_df.rename(columns = {'index': 'PosRank'}, inplace = True)
rb_df.PosRank = rb_df.PosRank + 1
rb_df.head()

   PosRank               Player Position  Rating
0        1           Nick Chubb       RB     925
1        2        Austin Ekeler       RB     875
2        3  Christain McCaffrey       RB     850
3        4       Bijan Robinson       RB     805
4        5       Saquon Barkley       RB     775

In [5]:
wr_df = wr_df[['Player', 'Position', 'Rating']].copy()


wr_df.sort_values(by = 'Rating', inplace = True, ascending = False)
wr_df.reset_index(inplace = True)
wr_df.rename(columns = {'index': 'PosRank'}, inplace = True)
wr_df.PosRank = wr_df.PosRank + 1
wr_df.head(10)

   PosRank            Player Position  Rating
0        1  Justin Jefferson       WR     975
1        2     Ja'Marr Chase       WR     950
2        3       Tyreek Hill       WR     930
3        4        A.J. Brown       WR     925
4        5      Stefon Diggs       WR     905
5        6    Garrett Wilson       WR     755
6        7     Davante Adams       WR     710
7        8       CeeDee Lamb       WR     710
8        9     DeVonta Smith       WR     680
9       10       Cooper Kupp       WR     665

In [6]:
te_df = te_df[['Player', 'Position', 'Rating']]

te_df.sort_values(by = 'Rating', inplace = True, ascending = False)
te_df.reset_index(inplace = True)
te_df.rename(columns = {'index': 'PosRank'}, inplace = True)
te_df.PosRank = te_df.PosRank + 1

# push te_rankings down
te_df.Rating = te_df.Rating - 100
te_df.head()

   PosRank          Player Position  Rating
0        1    Travis Kelce       TE     875
1        2   Mark Andrews        TE     850
2        3   Darren Waller       TE     610
3        4  T.J. Hockenson       TE     590
4        5   George Kittle       TE     510

In [7]:
df = pd.concat([qb_df, rb_df, wr_df, te_df], ignore_index = True)
df

     PosRank              Player Position  Rating
0          1          Josh Allen       QB     730
1          2  Patrick Mahomes II       QB     680
2          3         Jalen Hurts       QB     680
3          4       Justin Fields       QB     510
4          5          Joe Burrow       QB     505
..       ...                 ...      ...     ...
128       12       Tyler Conklin       TE      10
129       13   Chigoziem Okonkwo       TE    -135
130       14       Juwan Johnson       TE    -200
131       15       Hunter Hentry       TE    -200
132       16         Dawson Knox       TE    -240

[133 rows x 4 columns]

In [8]:
new_df = df.sort_values(by='Rating', ascending=False, ignore_index = True).reset_index(drop = False)\
                                                                      .rename(columns={'index': 'Rank'})
new_df.Rank = new_df.Rank + 1
new_df.rename(columns = {'Rank': 'OverallRank'}, inplace = True)
new_df = new_df[['OverallRank', 'Player', 'Position', 'PosRank', 'Rating']]
new_df.to_csv('player_rankings.csv', encoding='utf-8', index = False)
new_df.to_csv('C:/Users/schle/PycharmProjects/FantasyFootballDashboard/StatFiles/player_rankings.csv',
              encoding = 'utf-8',
              index = False)

In [9]:
new_df.head(25)

    OverallRank               Player Position  PosRank  Rating
0             1     Justin Jefferson       WR        1     975
1             2        Ja'Marr Chase       WR        2     950
2             3          Tyreek Hill       WR        3     930
3             4           Nick Chubb       RB        1     925
4             5           A.J. Brown       WR        4     925
5             6         Stefon Diggs       WR        5     905
6             7         Travis Kelce       TE        1     875
7             8        Austin Ekeler       RB        2     875
8             9        Mark Andrews        TE        2     850
9            10  Christain McCaffrey       RB        3     850
10           11       Bijan Robinson       RB        4     805
11           12       Saquon Barkley       RB        5     775
12           13       Garrett Wilson       WR        6     755
13           14          Josh Jacobs       RB        6     750
14           15           Josh Allen       QB        1     730
15           16          CeeDee Lamb       WR        8     710
16           17        Davante Adams       WR        7     710
17           18         Tony Pollard       RB        7     705
18           19          Jalen Hurts       QB        3     680
19           20   Patrick Mahomes II       QB        2     680
20           21        DeVonta Smith       WR        9     680
21           22          Cooper Kupp       WR       10     665
22           23        Derrick Henry       RB        8     660
23           24            Joe Mixon       RB       10     655
24           25          Chris Olave       WR       11     655